-
  const title = 'title';
  const description = 'description';
  const url = 'https://example.com/'
  const imgPath = "./assets/images/"
  const cssPath = "./assets/css/"
  const jsPath = "./assets/js/"
